<article class="first"
         id="home">
    <div class="art-content center">
        <h2> Your life , a photo </h2>
        <p class="desc"> print your life in a simple photo </p>
        <button class="btn"> Get started </button>
        <ul class="social center">
            <li class="soc twt"> <img src="../../assets/fa-twitter.png"> </li>
            <li class="soc flickr"> <img src="../../assets/fa-flickr.png"> </li>
            <li class="soc drbl"> <img src="../../assets/fa-dribbble.png"> </li>
        </ul>
    </div>

</article>

<article class="second"
         id="photoapp">
    <div class="art-content half-width">
        <h3> Rappresent your life with a simple photo </h3>
        <p class="desc">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Similique ea minus pariatur reprehenderit<br>
            commodi, dolores <strong> enim et minim </strong> debitis <br>
            quos reiciendis voluptas esse tempore <br>aspernatur qui
            velit officiis explicabo <br> possimus aperiam quidem?
        </p>
        <button class="btn"> Get started </button>

    </div>
    <img class="art-img right"
         src="../../assets/HandPhone.png">

</article>
<article class="third"
         id="design">
    <img class="art-img left"
         src="../../assets/Flat-iPhone-Mock.png">
    <div class="art-content half-width right">
        <h3> Design </h3>
        <p class="desc"> Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Similique ea minus pariatur reprehenderit<br>
            commodi, dolores <strong> enim et minim </strong> debitis <br>
            quos reiciendis voluptas esse tempore <br>aspernatur qui
            velit officiis explicabo <br> possimus aperiam quidem?</p>
        <button class="btn"> Learn more </button>
        <div>
            <span> {{ stepValue }} </span>
            <span>/</span>
            <span> {{ count }} </span>
            <div>
                <span class="prev material-icons"
                      (click)="go(-1)"
                      [class.hidden]="stepValue === start">
                    keyboard_arrow_left
                </span>
                <span class="next material-icons"
                      (click)="go(1)"
                      [class.hidden]="stepValue === count">
                    keyboard_arrow_right
                </span>
            </div>



        </div>
    </div>
</article>
<article class="fourth">
    <div class="art-content center">
        <img src="../../assets/Livello-logo-green.png">
        <h3> Our Community </h3>
        <p class="desc"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. </p>

    </div>
    <div class="img-container">
        <div>
            <span class="prev material-icons"
                  (click)="goToImg(-1)">
                keyboard_arrow_left
            </span>
            <span class="next material-icons"
                  (click)="goToImg(0)">
                keyboard_arrow_right
            </span>
        </div>
        <img class="slider-img"
             *ngFor="let img of images"
             src="{{ img }}">

    </div>
</article>
<article class="fifth ">
    <div class="art-content center">
        <h3> Subscribe to us community </h3>

        <form (ngSubmit)="subscribe($event)"
              [formGroup]="form">
            <input type="email"
                   placeholder="Enter email"
                   onblur="this.placeholder='Enter email'"
                   onfocus="this.placeholder = ''"
                   formControlName="email"
                   required>
            <button class="btn"> <span class="material-icons"> done
                </span>
            </button>
        </form>

        <p class="desc center"
           *ngIf="isSubscribed">You are succsessfully subscribed!</p>

    </div>
</article>
<article class="sixth"
         id="download">
    <div class="art-content center">
        <h3> Download it </h3>
        <p class="desc uppercase"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus rerum assumenda facere
            repellat quod,
            consequuntur minima nesciunt illum impedit, ad possimus cumque suscipit et nostrum laborum inventore
            eligendi,
            culpa nihil! </p>
        <a class="btn"> Apple Store <img src="../../assets/fa-apple.png"></a>
        <a class="btn"> Play Store <img src="../../assets/fa-android.png"></a>
    </div>
</article>