<article class="first">
    <h2> Your life , a photo </h2>
    <p class="desc"> print your life in a simple photo </p>
    <button class="btn"> Get started </button>
    <ul class="social">
        <li class="soc twt"></li>
        <li class="soc flickr"></li>
        <li class="soc drbl"></li>
    </ul>
</article>

<article class="second">
    <h3> Rappresent your life with a simple photo </h3>
    <p class="desc"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique ea minus pariatur reprehenderit
        commodi, dolores molestias aliquam tempora debitis quos reiciendis voluptas esse tempore aspernatur qui velit
        officiis explicabo possimus aperiam quidem? Labore deserunt, <span>nesciunt possimus velit </span> impedit
        officiis quis debitis iure tempore commodi delectus tempora distinctio assumenda earum a dolorem suscipit alias
        voluptatem dolores, culpa repellendus. </p>
    <button class="btn"> Get started </button>

</article>
<article class="third">
    <h3> Design </h3>
    <p class="desc"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique ea minus pariatur reprehenderit
        commodi, dolores molestias aliquam tempora debitis quos reiciendis voluptas esse tempore aspernatur qui velit
        officiis explicabo possimus aperiam quidem? Labore deserunt, <span>nesciunt possimus velit </span> impedit
        officiis quis debitis iure tempore commodi delectus tempora distinctio assumenda earum a dolorem suscipit alias
        voluptatem dolores, culpa repellendus. </p>
    <button class="btn"> Learn more </button>
    <div class="calendar">
        <span> 01 </span> <span>/</span> <span> 05 </span>

    </div>
</article>
<article class="fourth">
    <img src="../../assets/Livello logo green.png">
    <h3> Our Community </h3>
    <p class="desc"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. </p>
    <div class="img-container">
        <div>
            <span class="btn prev material-icons"
                  (click)="switchCalendar($event)">
                keyboard_arrow_left
            </span>
            <span class="btn next material-icons"
                  (click)="switchCalendar($event)">
                keyboard_arrow_right
            </span>
        </div>
        <img>
        <img>
    </div>
</article>
<article class="fifth">
    <h3> Subscribe to us community </h3>
    <input type="email"> <button class="btn"> <span class="material-icons">
            done
        </span> </button>
</article>
<article class="sixth">
    <h3> Download it </h3>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus rerum assumenda facere repellat quod,
        consequuntur minima nesciunt illum impedit, ad possimus cumque suscipit et nostrum laborum inventore eligendi,
        culpa nihil! </p>
    <button class="btn"> Apple Store </button> <img src="../../assets/fa-apple.png">
    <button class="btn"> Play Store </button> <img src="../../assets/fa-android.png">
</article>