header {
  position: fixed;
  z-index: 3;
  background: grey;
  width: 100%;
}

footer {
  position: relative;
}

.invisible {
  visibility: hidden;
  width: 0;
  height: 0;
  margin: 0;
}

.navbar {
  position: absolute;
  width: 100%;
  z-index: 2;
  color: #ffffff;
  background: grey;
  opacity: 0.6;
}

.center {
  text-align: center;
}

.nav-item {
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 1.5px;
  cursor: pointer;
}

.nav-item:hover {
  transform: scale(1.1);
}

.nav-item:not(:last-child)::after {
  content: "|";
  color: #16a085;
  margin: 0 1rem;
}

.desc {
  font-size: 0.8em;
  letter-spacing: 1.3px;
  line-height: 2rem;
}

.right {
  position: absolute;
  top: 2rem;
  right: 5.188rem;
}

footer {
  padding: 1.5rem 0;
}
