<header>
    <h1 class="invisible"> PhotoTime </h1>
    <app-navbar class="navbar center"></app-navbar>
</header>
<main>
    <app-main></app-main>
</main>
<footer>
    <ul class="footer nav">
        <li class="foot nav-item"> Credits </li>
        <li class="foot nav-item"> Privacy </li>
        <li class="foot nav-item"> Our Teams </li>
    </ul>
    <p class="desc"> Copyright by phototime - all right reserved </p>
    <img class="logo right"
         src="../../assets/Livello-logo-green.png">
</footer>